
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #070707; /* Black border */
  border-radius: 6px; /* Rounded borders */
  box-sizing: border-box;
  margin-top: 8px;
  margin-bottom: 16px;
  resize: horizontal /* Allow the user to vertically resize the textarea (not horizontally) */
}



input[type=submit] {
  background-color: #60D394;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #659B5E;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 9px;
  background-color: #f3f1eb;
  padding: 20px;
}

.table-container {
  text-align: center; /* Horizontal centering */
  margin: 0 auto;     /* Center the container itself horizontally */
}