
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #070707; /* Black border */
  border-radius: 6px; /* Rounded borders */
  box-sizing: border-box;
  margin-top: 8px;
  margin-bottom: 16px;
  resize: horizontal /* Allow the user to vertically resize the textarea (not horizontally) */
}



input[type=submit] {
  background-color: #60D394;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #659B5E;
}

/* Add a background color and some padding around the form */
.container {
  margin-top: 4em;
  border-radius: 9px;
  background-color: #f3f1eb;
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.table-container {
  text-align: center; /* Horizontal centering */
  margin: 0 auto;     /* Center the container itself horizontally */
}

.table-container {
  text-align: center; /* Center text horizontally */
  margin: 0 auto; /* Center the container horizontally */
  width: 31%; /* Adjust the width as needed */
}

body{
  height: 1300px;
  margin: 0;
  padding: 0;
  background: url(/static/main_cover.png
  );
  background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

table{
  width: 400px;
}