body{
    margin: 0;
    padding: 0;
    background-image:url('/static/bookbackground.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }

@font-face {
  font-family: 'coffecake';
  src: url('/static/CinnamonCoffeCake-Ea2Pr.ttf');
}
h2{
  font-family: coffecake;
  font-size: 45px;
  margin-top: 0px;
}
  
.card{
  margin-top: 15px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  margin-left: -13%;
  margin-right: -13%;
}

.recipes{
  height: 600px;
  overflow-y: scroll;
}
.lefttable{
  margin-left: 60px;
}

.col-sm-6 vidcont {
  width: 80px;
  height: 0;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  padding-left: 45px;
  position: relative;
}
  
.col-sm-6.video video {
  width: 100%;
  height: 200px;
  position: flex;
  top: 0;
  left: 40px;
  border: 25px solid beige;
  border-style: groove;

}

.col-sm-6.col-sm-6.video video {
  display: block;
  margin-left: 40px;
}
  
@media screen and (min-width:1200px) {
  .col-sm-6 .video {
    /* width: 500px; 
    height: 281.25px; */
    width: 100%;
    height: 50%;
    border: 25px solid beige;
    border-style: groove;
}
}
  