:root {
    --cream: rgba(234, 210, 172);
    --header_hover: rgba(234, 210, 172);
    --dark_green: rgba(9, 58, 62, 1);
    --teal_colour: rgba(78, 166, 153, 1);
    --buttons: black;
    --button_hover: #d64933;
    --orange_red: #d64933;
    --username: "";
    --wheat: rgba(234, 186, 107);
}

/* .content {
    height: 200vh;
    background-image: url("/static/main_cover.png"); 
    background-blend-mode: multiply;
    background-size: cover;
    display: grid;
    place-items: center;
    height: 720px; */
    /* z-index: -9 !important; 

}
/* 
nav-toggle {
    z-index: 9;
}

.grid.container {
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 25px;
    background-color: rgba(214, 73, 51, 0.5);
    position: absolute;
    /* top: 150px;
    right: 50px; 
    z-index: 0;
}
  
/*.intro_box {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
  }
   
 

.intro_box {
    padding: 25px;
    background-color: rgba(214, 73, 51, 0.5);
    position: absolute;
    top: 150px; /* Adjust this value to position below the navigation bar 
    right: 50px;
    z-index: 1; /* Increase the z-index value to ensure it's on top of the background 
}

.hiw_button {
    position: absolute;
    right: 1em;
    color: white !important;
    font-size: x-large;
    border: var(--wheat);
    background-color: var(--wheat);
    text-decoration: none;
}

.bake_it {
    padding: 2em;
    font-weight: bold;
    margin-top: 720px;
}

section.hiw h1 {
    padding: 1em;
}


.custory {
    font-weight: bold;
}

footer {
    padding-top: 6em;    /*This is so text isnt lost under banner, can be removed or adjusting depending on 
}