:root {
    --cream: rgba(234, 210, 172);
    --header_hover: rgba(234, 210, 172);
    --dark_green: rgba(9, 58, 62, 1);
    --teal_colour: rgba(78, 166, 153, 1);
    --buttons: black;
    --button_hover: #d64933;
    --orange_red: #d64933;
    --username: "";
    --wheat: rgba(234, 186, 107);
}

body:has h1 {
    margin-left: 2em;
}

body {
    font-family:Georgia, 'Times New Roman', Times, serif ;
    font-size: 1.125rem;
    font-weight: 400;
    font-style: normal;
    color: #333;
    line-height: 1.7;
}

.top {
    text-align: center;
    margin-left: 50%;
    color: #d64933;
}



h1 {
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
}


.col-sm-9.intro_box {
    max-width: 800px;
    height: 400px;
    background-color: rgba(214, 73, 51, 0.5)
}
.col-sm-9.intro_box h1 {
    text-align: right;
}

.col-sm-9.intro_box p {
    text-align: left;
    padding: 20px;
    font-size: 20px;
}


.hiw_button {
    text-align: right !important;
    margin-top: 10px;   
}
  
.hiw_button a {
    text-decoration: none;
    color: #d64933; 
    font-weight: bold;
    font-size: large;
    padding-left: 2%;
    padding-right: 2%;
    background-color: blanchedalmond;
    border-radius: 25%;
    
    
}


  
.bake_it {
    margin-left: 50px;
    padding-top: 2em;
    font-weight: bold;
    
}

.hiw {
    padding-top: 4em;
    text-align: center;

}

.hiw img {
    width: 300px; /* Ensure images fit within their containers */
    height: 300px;
    padding: 20px; /* Add padding around the images */
    display: block; /* Remove any default inline spacing */
    margin: 10px auto; /* Center the images horizontally */
}

.hiw h1 {
    padding-left: 50px;
}

.hiw p {
    margin-left: 20px;
    margin-right: 20px;
}


.aboutus {
    padding-top: 4em;
}



.custory {
    padding-top: 2em;
    font-weight: bold;
    z-index: 0;
}

.custory h1 {
    margin-left: 50px;
}


.aboutus {
    padding-top: 2em;
    text-align: center;
}
.aboutus h1 {
    margin-left: 50px;
}



    /* Style for the carousel content container */
.carousel-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: -1;

}

    /* Style for the carousel image */
.carousel-content img {
    max-width: 50%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
    z-index: -2;
}

    /* Style for the carousel text */
.carousel-text {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 8px;
    color: white;
    z-index: -1;
    
}

    /* Style for the carousel slide */
.carousel-item {
    display: flex;
    justify-content: center;
    z-index: -1;
}


   


.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black; 
    color: white; /* Set the text color to white */
    border-radius: 50%; /* Add rounded corners */
    padding: 10px; 
    z-index: -2;
}

    /* Style for the carousel control buttons on hover */
.carousel-control-prev:hover,
.carousel-control-next:hover {
    background-color: white; /* Change background color on hover */
    color: black; /* Change text color on hover */
    z-index: -2;
}


.aboutus img {
    max-width: 100%; /* Ensure images fit within their containers */
    padding: 20px; /* Add padding around the images */
    display: block; /* Remove any default inline spacing */
    margin: 0 auto; /* Center the images horizontally */
}


footer {
    padding-top: 6em;    /*This is so text isnt lost under banner, can be removed or adjusted    depending on */
} 