<!doctype html>
<html lang="en">
  <head>
    
    <link href="C:\Repo\BakeItOrTakeIt\static\style.css" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BakeItorTakeIt</title>
   
  </head>
 
  <header> 
    <div class = "container">

        <img src="C:\Repo\BakeItOrTakeIt\static\logo.png" height = "120"
        alt= "logo" class = "logo">

    <nav>
      
      </a>
        <ul>
        <li><a href="C:\Repo\BakeItOrTakeIt\templates\home.html">Home</a></li>
        <li><a href="C:\Repo\BakeItOrTakeIt\templates\About.html">About</a></a></li>
        <li><a href="C:\Repo\BakeItOrTakeIt\templates\RecipeTemplate.html">Recipes</a></li>
        <li><a href="C:\Repo\BakeItOrTakeIt\templates\shopping_cart.html">Shop</a></a></li>
        <li><a href="C:\Repo\BakeItOrTakeIt\templates\LogIn.html">Login</a></li>
        <!-- can change pages,links,add more or delete these
        -->
        </ul>
    </nav>
    </div>
</header>
  <body>
<!--   
    <div class="container-fluid">
        <div class="row">
          <div class="col-sm-4" style="background-color:rgb(21, 221, 47);">.col-sm-4</div>
          <div class="col-sm-4" style="background-color:rgb(243, 7, 85);">.col-sm-4</div>
          <div class="col-sm-4" style="background-color:rgb(14, 14, 235);">.col-sm-4</div>
        </div>
      </div>
  </body>
</html> -->


<footer>
  <p>© BakeItorTakeIt LTD.</p>
</footer>
</html>