{% extends 'RecipeLayout.html' %}


{% block title %}
  Bakewell Tart
{% endblock %}


{% block header %}
  <h2>Bakewell Tart</h2>
{% endblock %}


{% block content %}
<hr>
<div class="row">
  <div class="col-sm-6 recipes">
    <h5><u>Ingredients</u></h5>
    <table class="table">
      <tr>
        <th>Ingredients</th>
        <th>Amount</th>
      </tr>
      <tr>
        <td>plain flour, plus extra for rolling out</td>
        <td>250g</td>
      </tr>
      <tr>
        <td>fine sea salt</td>
        <td>1/4 tsp</td>
      </tr>
      <tr>
        <td>icing sugar</td>
        <td>2 tbsp</td>
      </tr>
      <tr>
        <td>cold butter</td>
        <td>140g, cubed</td>
      </tr>
      <tr>
        <td>egg yolks</td>
        <td>2 medium eggs, beaten</td>
      </tr>
      <tr>
        <td>cream or custard</td>
        <td>1 cup</td>
      </tr>
      <tr>
        <th>-------For the filling--------</th>
      </tr>
      <tr>
        <td>salted butter, softened</td>
        <td>100g</td>
      </tr>      
      <tr>
        <td>caster sugar</td>
        <td>100g</td>
      </tr>      
      <tr>
        <td>ground almonds</td>
        <td>50g</td>
      </tr>      
      <tr>
        <td>almond extract</td>
        <td>1 tsp</td>
      </tr>      
      <tr>
        <td>medium eggs, beaten</td>
        <td>3</td>
      </tr>      
      <tr>
        <td>raspberry jam</td>
        <td>3 tbsp</td>
      </tr>      
      <tr>
        <td>flaked almonds</td>
        <td>50g</td>
      </tr>      
      <tr>
        <td>icing sugar</td>
        <td>80g</td>
      </tr>
    </table>
    <br>
    <br>
    <br>
    <h5><u>Method</u></h5>
    <ol class="">
      <li>Heat the oven to 200C/180C fan/gas 6. To make the pastry, put the flour in a food processor along with the salt and icing sugar. Blitz to combine. Add the butter and pulse in short bursts until it's the texture of fine breadcrumbs. Mix 4 tbsp cold water with the beaten eggs and drizzle into the mixture, then quickly pulse to combine. Tip out the crumbly mixture onto a work surface, then form into a puck, cover and chill for 30 mins.</li>
      <br>
      <li>Roll the pastry out on a lightly floured surface to around 25cm, and to the thickness of a £1 coin. Line a 20cm fluted tart tin with the pastry, leaving the pastry to overhang. Add a large disc of baking parchment big enough to cover the edges, and some baking beans to weigh it down (use dried rice or lentils if you don’t have baking beans). Bake for 15 mins, then remove the parchment and beans and bake for a further 7-10 mins or until the bottom is evenly cooked. Trim off any overhanging pastry with a serrated knife.</li>
      <br>
      <li>For the filling, beat the butter and sugar until combined. Add the ground almonds, almond extract and eggs and beat for a further minute. Spread the jam over the pastry, then top with the almond filling. Scatter over the flaked almonds and bake for 25-30 mins until golden and firm. Leave to cool in the tin (or eat warm at this stage and leave out step 4).</li>
      <br>
      <li>Mix together the icing sugar and 1-2 tsp water and drizzle over the tart. Slice and serve with cream or custard, if you like.</li>
    </ol>
  </div>
  <div class="col-sm-1"></div>
  <div class="col-sm-5">
    <br><br>
          <iframe class="d-block w-100" width="560" height="315" src="https://www.youtube.com/embed/1ahpSTf_Pvk?si=zLXGIXfKI3oTYR2j" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          <br>
          <div class="">
            <div class=""> <a class="btn btn-primary" href="/add/100">Take It!(ingredients box)</a></div>
            <div class="price "><p>&pound;15.99</p>
            </div>
          </div>
    </div>
  </div>
</div>
{% endblock %}