{% extends 'RecipeLayout.html' %}


{% block title %}
Banana Bread
{% endblock %}


{% block header %}
  <h2>Banana Bread</h2>
{% endblock %}


{% block content %}
<hr>
<div class="row">
  <div class="col-sm-6 recipes">
    <h5><u>Ingredients</u></h5>
    <table class="table">
      <tr>
        <th>Ingredients</th>
        <th>Amount</th>
      </tr>
      <tr>
        <td>butter, softened, plus extra for the tin </td>
        <td>140g</td>
      </tr>
      <tr>
        <td>caster sugar</td>
        <td>140g</td>
      </tr>
      <tr>
        <td>large eggs, beaten</td>
        <td>2</td>
      </tr>
      <tr>
        <td>elf-raising flour </td>
        <td>140g</td>
      </tr>
      <tr>
        <td>baking powder</td>
        <td>1 tsp</td>
      </tr>
      <tr>
        <td>very ripe bananas, mashed</td>
        <td>2</td>
      </tr>
      <tr>
        <td>icing sugar</td>
        <td>50g</td>
      </tr>      
      <tr>
        <td>dried banana chips, for decoration</td>
        <td>1/2 cup</td>
      </tr>
    </table>
    <br>
    <br>
    <br>
    <h5><u>Method</u></h5>
    <ol>
      <li>Heat oven to 180C/160C fan/gas 4.</li>
      <br>
      <li>Butter a 2lb loaf tin and line the base and sides with baking parchment.</li>
      <br>
      <li>Cream 140g softened butter and 140g caster sugar until light and fluffy, then slowly add 2 beaten large eggs with a little of the 140g flour.</li>
      <br>
      <li>Fold in the remaining flour, 1 tsp baking powder and 2 mashed bananas.</li>
      <br>
      <li>
        Pour the mixture into the prepared tin and bake for about 50 mins, or until cooked through. Check the loaf at 5-min intervals from around 30-40 mins in the oven by testing it with a skewer (it should be able to be inserted and removed cleanly), as the time may vary depending on the shape of your loaf tin.
      </li>
      <br>
      <li>Cool in the tin for 10 mins, then remove to a wire rack.</li>
      <br>
      <li>
        Mix 50g icing sugar with 2-3 tsp water to make a runny icing.
      </li>
      <br>
      <li>
        Drizzle the icing across the top of the cake and decorate with a handful of banana chips.
      </li>
    </ol>
  </div>
  <div class="col-sm-1"></div>
  <div class="col-sm-5">
    <br><br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Ob8eL4mMOys?si=z2mH7q2yvL_DqWTQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <br>    
    <a class="btn btn-primary" href="/add/200">Take It!(ingredients box)</a>
    <div class="price "><p>&pound;15.99</p>
    </div>

    </div>
  </div>
</div>
{% endblock %}