{% extends 'RecipeLayout.html' %}


{% block title %}
Chocolate Chip Cookies
{% endblock %}


{% block header %}
  <h2>Chocolate Chip Cookies</h2>
{% endblock %}


{% block content %}
<hr>
<div class="row">
  <div class="col-sm-6 recipes">
    <h5><u>Ingredients</u></h5>
    <table class="table">
      <tr>
        <th>Ingredients</th>
        <th>Amount</th>
      </tr>
      <tr>
        <td>salted butter, softened</td>
        <td>150g</td>
      </tr>
      <tr>
        <td>light brown muscovado sugar</td>
        <td>80g</td>
      </tr>
      <tr>
        <td>granulated sugar</td>
        <td>80g</td>
      </tr>
      <tr>
        <td>vanilla extract</td>
        <td>2 tsp</td>
      </tr>
      <tr>
        <td>large egg</td>
        <td>1</td>
      </tr>
      <tr>
        <td>plain flour</td>
        <td>225g</td>
      </tr>
      <tr>
        <td>bicarbonate of soda</td>
        <td>1/2 tsp</td>
      </tr>
      <tr>
        <td>salt</td>
        <td>1/4 tsp</td>
      </tr>
      <tr>
        <td>plain chocolate chips or chunks</td>
        <td>200g</td>
      </tr>
    </table>
    <br>
    <br>
    <br>
    <h5><u>Method</u></h5>
    <ol>
      <li>Heat the oven to 190C/fan170C/gas 5 and line two baking sheets with non-stick baking paper.
      </li>
      <br>
      <li>Put 150g softened salted butter, 80g light brown muscovado sugar and 80g granulated sugar into a bowl and beat until creamy.
      </li>
      <br>
      <li>Beat in 2 tsp vanilla extract and 1 large egg.
      </li>
      <br>
      <li>Sift 225g plain flour, ½ tsp bicarbonate of soda and ¼ tsp salt into the bowl and mix it in with a wooden spoon.
      </li>
      <br>
      <li>
        Add 200g plain chocolate chips or chunks and stir well.
      </li>
      <br>
      <li>Use a teaspoon to make small scoops of the mixture, spacing them well apart on the baking trays. This mixture should make about 30 cookies.
      </li>
      <br>
      <li>Bake for 8–10 mins until they are light brown on the edges and still slightly soft in the centre if you press them.
      </li>
      <br>
      <li>Leave on the tray for a couple of mins to set and then lift onto a cooling rack.
      </li>
    </ol>
  </div>
  <div class="col-sm-1"></div>
  <div class="col-sm-5">
    <br><br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/lJ7Ec3bKrxM?si=d8pZBk4YjfSyWTic" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <br>
    <a class="btn btn-primary" href="/add/500">Take It!(ingredients box)</a>
    <div class="price "><p>&pound;18.99</p>
    </div>
  </div>
  </div>
</div>
{% endblock %}