{% extends 'RecipeLayout.html' %}


{% block title %}
  Cinnamon Rolls
{% endblock %}


{% block header %}
  <h2>Cinnamon Rolls</h2>
{% endblock %}


{% block content %}
<hr>
<div class="row">
  <div class="col-sm-6 recipes">
    <h5><u>Ingredients</u></h5>
    <table class="table">
      <tr>
        <th>Ingredients</th>
        <th>Amount</th>
      </tr>
      <tr>
        <td>strong white bread flour</td>
        <td>500g</td>
      </tr>
      <tr>
        <td>sachet fast-action dried yeast</td>
        <td>7g</td>
      </tr>
      <tr>
        <td>ground cinnamon</td>
        <td>1 tsp</td>
      </tr>
      <tr>
        <td>golden caster sugar</td>
        <td>50g</td>
      </tr>
      <tr>
        <td>warm milk</td>
        <td>200ml</td>
      </tr>
      <tr>
        <td>medium eggs</td>
        <td>2</td>
      </tr>
      <tr>
        <td>butter, softened</td>
        <td>100g</td>
      </tr>
      <tr>
        <td>golden syrup</td>
        <td>2 tbsp</td>
      </tr>
      <tr>
        <th>-------For the filling--------</th>
      </tr>
      <tr>
        <td>light brown soft sugar</td>
        <td>150g</td>
      </tr>      
      <tr>
        <td>ground cinnamon</td>
        <td>2 tbsp</td>
      </tr>      
      <tr>
        <td>butter, room temp</td>
        <td>125g</td>
      </tr>    
      <tr>
        <th>-------For the icing--------</th>
      </tr>         
      <tr>
        <td>soft cheese</td>
        <td>50g</td>
      </tr>
      <tr>
        <td>icing sugar</td>
        <td>50g</td>
      </tr>
      <tr>
        <td>vanilla extract</td>
        <td>1/4 tsp</td>
      </tr>
    </table>
    <br>
    <br>
    <br>
    <h5><u>Method</u></h5>
    <ol>
      <li>Tip all the ingredients for the dough, except the butter and golden syrup, into the bowl of a stand mixer with 1 tsp salt. Use a paddle attachment to combine everything until it begins to come together into a dough, then tip out onto a floured surface and knead until smooth, about 2 mins. Put it back in the bowl and gradually add the softened butter, 1-2 tsp at a time, while mixing on a medium setting. Alternatively, knead the butter in by hand until smooth. Flatten the dough to a square roughly 20 x 20cm, then cover and freeze for 30 mins, or chill for at least 1 hr.
      </li>
      <br>
      <li>Meanwhile, butter and line the base and sides of a deep baking tray, roughly 20 x 30cm. To make the filling, mix the sugar with the cinnamon and a large pinch of sea salt, then set aside 2 tbsp. Beat in the butter to form a thick paste.
      </li>
      <br>
      <li>Lay the dough on a floured surface and roll to a neat rectangle roughly 35 x 25cm. Spread over the filling so it’s completely covered. Fold the bottom third of the dough into the middle, then fold over again to cover the top third. For the best results, chill the dough again for another 30 mins.
      </li>
      <br>
      <li>Re-roll the dough to another rectangle about 40 x 30cm, then roll it up along the long edge into a tight log. To get the neatest spirals, cut in half, lift onto a tray and freeze for 15 mins to firm up, then cut into 12 equal-sized slices. Arrange the slices, spiral side-up, in the tin. Leave to prove in fridge for at least 1 hr, or up to 24 hrs.
      </li>
      <br>
      <li>Heat the oven to 200C/180C fan/gas 6. Bake the buns for 20 mins, then scatter over the reserved cinnamon sugar and bake for 10-15 mins until deep brown.
      </li>
      <br>
      <li>Meanwhile, mix the golden syrup with 2 tsp boiling water. As soon as the buns come out of the oven, brush them with the syrup glaze, then leave to cool a little. To make the icing, beat the soft cheese, icing sugar and vanilla together, then gradually add 1-2 tbsp boiling water to create a thick but pourable consistency. Drizzle the icing over the buns.</li>
    </ol>
  </div>
  <div class="col-sm-1"></div>
  <div class="col-sm-5">
    <br><br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/_Q0FYoCl4Cs?si=me79iFCY-JevmXG3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
  </div>
</div>
{% endblock %}