<!DOCTYPE html>
<html>
<head>
    <title>Contact Us</title>
</head>
<body>
<img src="https://github.com/CallumDrake1996/BakeItOrTakeIt/blob/main/static/logo.png?raw=true" height="80" alt = "logo" class= "logo">
    <p>Hello {{name}},</p>
    <p>Thank you for contacting Bake It Or Take It!</p>
    <p>We appreciate your support.</p>
    <p>All messages are important to us here at Bake It Or Take It</p>
    <p>We endeavour to reply to messages within 2-3 working days.</p>
    <p>Best Regards,</p>
    <p>Bake It Or Take It</p>
</body>
</html>