<!DOCTYPE html>
<html>
<head>
    <title>Your Account Password</title>
</head>
<body>
<img src="https://github.com/CallumDrake1996/BakeItOrTakeIt/blob/main/static/logo.png?raw=true" height="80" alt = "logo" class= "logo">
    <p>Hello,</p>
    <p>Here is the password for your account:</p>
    <p><strong>{{ password }}</strong></p>
    <p>Please keep this password secure and do not share it with anyone.</p>
    <p>If you have any concerns or questions, feel free to contact us.</p>
    <p>Best regards,</p>
    <p>Bake It Or Take It</p>
</body>
</html>