<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
</head>
<body>
<img src="https://github.com/CallumDrake1996/BakeItOrTakeIt/blob/main/static/logo.png?raw=true" height="80" alt = "logo" class= "logo">
    <p>Hello {{name}},</p>
    <p>Thank you for choosing us!</p>
    <p>We appreciate your trust and want to get to know you better.</p>
    <p>As soon as you get your package, tag us in your photos and we’ll highlight them in our stories.</p>
    <p>Let’s create some beautiful moments together!</p>
    <p>If you have any concerns or questions, feel free to contact us.</p>
    <p>Best regards,</p>
    <p>Bake It Or Take It</p>
</body>
</html>