{% extends 'RecipeLayout.html' %}


{% block title %}
Fudgy Brownies
{% endblock %}


{% block header %}
  <h2>Fudgy Brownies</h2>
{% endblock %}


{% block content %}
<hr>
<div class="row">
  <div class="col-sm-6 recipes">
    <h5><u>Ingredients</u></h5>
    <table class="table">
      <tr>
        <th>Ingredients</th>
        <th>Amount</th>
      </tr>
      <tr>
        <td>unsalted butter</td>
        <td>170g</td>
      </tr>
      <tr>
        <td>dark chocolate, chopped</td>
        <td>150g</td>
      </tr>
      <tr>
        <td>caster sugar</td>
        <td>225g</td>
      </tr>
      <tr>
        <td>cocoa powder</td>
        <td>30g</td>
      </tr>
      <tr>
        <td>plain flour</td>
        <td>95g</td>
      </tr>
      <tr>
        <td>mix of milk choco chunks, pretzels and nuts</td>
        <td>100g</td>
      </tr>
    </table>
    <br>
    <br>
    <br>
    <h5><u>Method</u></h5>
    <ol>
      <li>Heat the oven to 200C/180C fan/gas 6. Butter a 20cm square tin and line with baking parchment. Melt the butter and chocolate in a large heatproof bowl in 30-second bursts in the microwave until the mixture is smooth and glossy. Alternatively, set the bowl over a pan of simmering water, ensuring the base doesn't touch the water, and stir until smooth. Leave to cool slightly.</li>
      <br>
      <li>Whisk the sugar and eggs together in a bowl using an electric whisk until the mixture has doubled in volume and a ribbon holds for 3 seconds when you lift out the beaters. Scrape the cooled chocolate mixture into the egg mixture, and fold gently until well-combined.</li>
      <br>
      <li>Sift in the cocoa powder, flour and a pinch of salt. Mix to combine, then fold in most of the milk chocolate, pretzels and nuts, reserving some for the top. Scrape the batter into the prepared tin and scatter with the reserved chocolate, pretzels and nuts. Bake on the middle shelf of the oven for 25 mins until just set with a shiny top and gentle wobble in the middle. Leave to cool completely in the tin, then slice and serve.</li>
    </ol>
  </div>
  <div class="col-sm-1"></div>
  <div class="col-sm-5">
    <br><br>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/Z1OLG7F3HD4?si=ohayiCS2VqU7zS38" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
  </div>
</div>
{% endblock %}