<!doctype html>
<html lang="en">
  <head>
    <!-- <link rel="stylesheet" href="{{url_for('static',filename='your file here')}}"> -->
    <!-- <link href="C:\Repo\BakeItOrTakeIt\Flask\static\style.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <!-- <link href="C:\Repo\BakeItOrTakeIt\Flask\static\responsive.css" rel="stylesheet"> -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BakeItorTakeIt</title>
   
  
  </head>
 
    <header> 
      <div class = "container">

            
          <!-- <img src="C:\Repo\BakeItOrTakeIt\static\logo.png" height = "120"
          alt= "logo" class = "logo"> -->
          <img src="{{url_for('static',filename='logo.png' )}}" height="120" alt = "logo" class= "logo">
  
          <nav>
            <ul>
              <li><a href="{{ url_for('home') }}">Home</a></li>
              <li><a href="{{ url_for('about') }}">About</a></li>
              <li><a href="{{ url_for('recipes') }}">Recipes</a></li>
              <li><a href="{{ url_for('shop') }}">Shop</a></li>
              <li><a href="{{ url_for('login') }}">Login</a></li>
            </ul>
          </nav>
          
      </div>
  </header>
  <body>
  
