<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{{url_for('static',filename='style_head.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='style_home.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    1<link rel="icon" href="{{url_for('static',filename='webiconlogo.png' )}}" type="image/icon type">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BakeItorTakeIt</title>
  </head>
<div>
    <header> 
          <img src="{{url_for('static',filename='logo.png' )}}" height="80" alt = "logo" class= "logo">
          <input type="checkbox" id="nav-toggle" class="nav-toggle">
          <nav>
            <ul>
                {% if session.name %}
                    <li><a href="{{ url_for('logout') }}">hi {{username['first_name']}}</a></li>
                {% else %}       
                    <li><a href="{{ url_for('about') }}">Welcome</a></li>
                {% endif %}     
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('recipes') }}">Recipes</a></li>
                <li><a href="{{ url_for('shop') }}">Shop</a></li>
                <li><a href="{{ url_for('contact_us') }}">Contact</a></li>
                {% if session.name %}
                    <li class="login_button"><a href="{{ url_for('logout') }}">Logout</a></li>  
                {% else %}       
                    <li class="login_button"><a href="{{ url_for('login') }}">Login</a></li>
                {% endif %}      
            </ul>
          </nav>
          <label for="nav-toggle" class="nav-toggle-label"><span></span></label>
    </header>
    <div class="content mainbk"></div>
</div>
<br>
    <hi>Create your own Masterpiece or get it Delivered!</hi>

<div class="container-fluid">
    <div class="row">
      <div class="col-sm-4" style="background-color:rgb(21, 221, 47);">.col-sm-4</div>
      <div class="col-sm-4" style="background-color:rgb(243, 7, 85);">.col-sm-4</div>
      <div class="col-sm-4" style="background-color:rgb(14, 14, 235);">.col-sm-4</div>
    </div>
  </div>

    
        
        
  <!-- put content here -->
      <div class="intro_box" style="max-width: 650px; height: 400px;">
        <h1> Create your own Masterpiece or get it Delivered!           </h1>
        <p></p>
        <p style="font-size: 20px;"><strong>Welcome  to  Take  It  Or  Bake  It.<br> We  invite  you  and  your  family  to  follow  along  with  one  of  our  tasty  recipes!<br><br><br> Sign  Up  today  to  get  notified  of  new  recipes  and  great  new  offers!</strong></p>
        <p class="hiw_button"><a href="{{ url_for('about') }}">Discover more here!</a></p>
        <!-- <img src="{{ url_for('static', filename='image.jpg') }}" alt="Image goes here"> -->
      </div>
