{% extends 'RecipeLayout.html' %}


{% block title %}
Iced buns with cream and jam
{% endblock %}


{% block header %}
  <h2>Iced Buns With Cream And Jam</h2>
{% endblock %}


{% block content %}
<hr>
<div class="row">
  <div class="col-sm-6 recipes">
    <h5><u>Ingredients</u></h5>
    <table class="table">
      <tr>
        <th>Ingredients</th>
        <th>Amount</th>
      </tr>
      <tr>
        <td>milk</td>
        <td>350ml</td>
      </tr>
      <tr>
        <td>butter</td>
        <td>30g cubed</td>
      </tr>
      <tr>
        <td>white bread flour</td>
        <td>500g</td>
      </tr>
      <tr>
        <td>fast-action dried yeast</td>
        <td>10g</td>
      </tr>
      <tr>
        <td>caster sugar</td>
        <td>2 tbsp</td>
      </tr>
      <tr>
        <td>icing sugar</td>
        <td>300g</td>
      </tr>
      <tr>
        <td>whipping or double cream</td>
        <td>300ml</td>
      </tr>         
      <tr>
        <td>lemon curd</td>
        <td>200g</td>
      </tr>      
      <tr>
        <td>raspberry jam</td>
        <td>200g</td>
      </tr>      
      <tr>
        <td>blackcurrent jam</td>
        <td>200g</td>
      </tr>      
    </table>
    <br>
    <br>
    <br>
    <h5><u>Method</u></h5>
    <ol>
      <li>Heat the milk until steaming. Add the butter and swirl until melted. Leave to cool slightly. Tip the flour and yeast into a bowl or stand mixer fitted with a dough hook, then add the caster sugar and ½ tsp salt.
      </li>
      <br>
      <li>When the milk mix has cooled slightly (it should feel just warm when you stick a finger in) pour into the flour mix. If using a stand mixer, mix for 5-8 mins on a medium speed until springy. Or, knead in the bowl for about 10 mins – when the dough is pulled apart, it should be able to stretch without ripping.</li>
      <br>
      <li>Put the dough in a clean bowl, cover with a tea towel and leave to rise for 1½ hrs or until doubled in size. Or, transfer to the fridge to slowly rise for up to 24 hrs (this will improve the texture and flavour).
      </li>
      <br>
      <li>If the dough is chilled, remove from the fridge 1 hr before shaping. Divide into 10 equal portions (weigh them out if you want to be accurate). To make round buns, roll and shape each piece into a smooth ball, or to make finger buns, roll and shape each piece into a finger shape. Arrange on a lined baking tray, leaving space between each. Cover loosely and leave to rise for 30 mins-1 hr more until doubled.
      </li>
      <br>
      <li>Heat the oven to 180C/160C fan/ gas 4. Brush the buns with milk and bake for 25-30 mins until golden. Put on a wire rack and leave to cool.
      </li>
      <br>
      <li>Mix the icing sugar with 2-3 tbsp water – it should be thick. Divide between bowls, depending on how many food colourings you’re using (we used three). Dye each with a different colouring, adding a splash more water if needed.
      </li>
      <br>
      <li>Whisk the cream and 1 tbsp icing sugar until just holding its shape. Don’t overwhip, as it will thicken as you pipe (see tip, below). Fit a piping bag with a star nozzle and fill with a third of the cream.
      </li>
      <br>
      <li>Split the round buns in half as you would a burger bun, or the finger buns down the middle lengthways. Spoon roughly 60g lemon curd or jam over the bottom half of each bun (or down the middle), alternating the flavours, then pipe over a swirl of cream. Continue until all the buns are filled, refilling the piping bag with cream as needed. Spoon some icing over each bun, matching the colours to the jam (we used yellow for the curd, pink for the raspberry jam and purple for the blackcurrant). Decorate with the glacé cherries, sprinkles and crystallised petals, if you like, then leave to set for about 20 mins before serving. Best eaten the day they’re made, but will keep in the fridge for 24 hrs.</li>
    </ol>
  </div>
  <div class="col-sm-1"></div>
  <div class="col-sm-5">
    <br><br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/xRaaTE9Kt78?si=t3JjgNzzHvBBIHG9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <br>
    <a class="btn btn-primary" href="/add/800">Take It!(ingredients box)</a>
    </div>
  </div>
</div>
{% endblock %}