{% extends 'RecipeLayout.html' %}


{% block title %}
lemon baked cheesecake
{% endblock %}


{% block header %}
  <h2>lemon baked cheesecake</h2>
{% endblock %}


{% block content %}
<hr>
<div class="row">
  <div class="col-sm-6 recipes">
    <h5><u>Ingredients</u></h5>
    <table class="table">
      <tr>
        <th>Ingredients</th>
        <th>Amount</th>
      </tr>
      <tr>
        <td>digestive biscuits</td>
        <td>225g</td>
      </tr>
      <tr>
        <td>butter, melted</td>
        <td>100g</td>
      </tr>
      <tr>
        <td>tub mascarpone</td>
        <td>250g</td>
      </tr>
      <tr>
        <td>soft cheese</td>
        <td>600g</td>
      </tr>
      <tr>
        <td>eggs</td>
        <td>2 and 2 yolks</td>
      </tr>
      <tr>
        <td>lemons</td>
        <td>3 and 1 juiced</td>
      </tr>
      <tr>
        <td>plain flour</td>
        <td>4 tbsp</td>
      </tr>
      <tr>
        <td>caster sugar</td>
        <td>175g</td>
      </tr>
      <tr>
        <th>-------For the topping--------</th>
      </tr>
      <tr>
        <td>soured cream</td>
        <td>1/2 a 284ml pot</td>
      </tr>
      <tr>
        <td>lemon curd</td>
        <td>3 tbsp</td>
      </tr>
      <tr>
        <td>raspberries</td>
        <td>handful</td>
      </tr>
    </table>
    <br>
    <br>
    <br>
    <h5><u>Method</u></h5>
    <ol>
      <li>Heat oven to 180C/fan 160C/gas 4. Line the bottom of a 23cm springform tin with greaseproof paper. Tip the biscuits and melted butter into a food processor, then blitz to make fine crumbs. Press into the tin and chill.
      </li>
      <br>
      <li>Whisk all the other ingredients in a large bowl until completely combined, pour into the tin, then bake for 35-40 mins until the cheesecake has a uniform wobble.
      </li>
      <br>
      <li>Turn off the oven and leave the cake inside until cool. When it is completely cooled, remove from the tin and top with soured cream. Swirl lemon curd over the top and decorate with raspberries, if you like.</li>
      <br>
    </ol>
  </div>
  <div class="col-sm-1"></div>
  <div class="col-sm-5">
    <br>
    <br>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/x8ezFPOBtfo?si=trNYXvcRPYMoYtLO" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      <br>
      <a class="btn btn-primary" href="/add/900">Take It!(ingredients box)</a>  <div class="price "><p>&pound;16.99</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}