{% extends 'RecipeLayout.html' %}


{% block title %}
Red Velvet Cupcakes
{% endblock %}


{% block header %}
  <h2>Red Velvet Cupcakes</h2>
{% endblock %}


{% block content %}
<hr>
<div class="row">
  <div class="col-sm-6 recipes">
    <h5><u>Ingredients</u></h5>
    <table class="table">
      <tr>
        <th>Ingredients</th>
        <th>Amount</th>
      </tr>
      <tr>
        <td>plain flour</td>
        <td>150g</td>
      </tr>
      <tr>
        <td>cocoa powder</td>
        <td>1 tbsp</td>
      </tr>
      <tr>
        <td>bicarbonate of soda</td>
        <td>1 tsp</td>
      </tr>
      <tr>
        <td>butter, softened</td>
        <td>50g</td>
      </tr>
      <tr>
        <td>caster sugar</td>
        <td>150g</td>
      </tr>
      <tr>
        <td>large egg</td>
        <td>1, beaten</td>
      </tr>
      <tr>
        <td>vanilla paste</td>
        <td>1 tsp</td>
      </tr>
      <tr>
        <td>buttermilk</td>
        <td>100ml</td>
      </tr>
      <tr>
        <td>vegtable oil</td>
        <td>50ml</td>
      </tr>
      <tr>
        <td>white wine vinegar</td>
        <td>1 tsp</td>
      </tr>
      <tr>
        <td>red food colouring</td>
        <td>1 tbsp</td>
      </tr>
      <tr>
        <th>-------For the topping--------</th>
      </tr>
      <tr>
        <td>salted butter, softened</td>
        <td>100g</td>
      </tr>
      <tr>
        <td>icing sugar</td>
        <td>225g</td>
      </tr>
      <tr>
        <td>full fat cream cheese</td>
        <td>100g</td>
      </tr>
    </table>
    <br>
    <br>
    <br>
    <h5><u>Method</u></h5>
    <ol>
      <li>Line a cupcake tin with 12 cupcake cases and set aside. Heat oven to 180C/160C fan/gas 4. Sieve the flour, cocoa, bicarb and a pinch of fine salt into a medium bowl and mix to combine.
      </li>
      <br>
      <li>Using a stand mixer or an electric hand whisk, beat together the butter and sugar until light and fluffy, then beat in the egg, vanilla, buttermilk, oil and vinegar until combined. Gradually mix the wet ingredients into the dried. Once combined, mix in the red food colouring until you have a deep red mix – the colour may vary depending on what brand you use.
      </li>
      <br>
      <li>Divide the batter between the cupcake cases and bake for 15 mins, or until a skewer inserted into the centre of a cake comes out clean.
      </li>
      <br>
      <li>While the cakes are cooling, make the icing. Beat together the butter and icing sugar using an electric whisk or by hand until pale and fluffy, about 3 mins, then beat in the cream cheese for a further 1-2 mins until well combined.
      </li>
      <br>
      <li>Once the cakes are cool, use a piping bag fitted with a star nozzle to cover the cakes with the cream cheese icing, or dollop the icing on top using a spoon.
      </li>
      <br>
    </ol>
  </div>
  <div class="col-sm-1"></div>
  <div class="col-sm-5">
    <br><br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/z_0DpOgcdXo?si=Ba6hD-NbzcmgYLy4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <br>
    <a class="btn btn-primary" href="/add/1000">Take It!(ingredients box)</a>
    </div>
  </div>
</div>
{% endblock %}