{% extends 'RecipeLayout.html' %}


{% block title %}
Rhubarb and custard sandwich biscuits
{% endblock %}


{% block header %}
  <h2>Rhubarb And Custard Sandwich Biscuits</h2>
{% endblock %}


{% block content %}
<hr>
<div class="row">
  <div class="col-sm-6 recipes">
    <h5><u>Ingredients</u></h5>
    <table class="table">
      <tr>
        <th>Ingredients</th>
        <th>Amount</th>
      </tr>
      <tr>
        <td>unsalted butter, cubed</td>
        <td>175g</td>
      </tr>
      <tr>
        <td>caster sugar</td>
        <td>50g</td>
      </tr>
      <tr>
        <td>icing sugar</td>
        <td>50g</td>
      </tr>
      <tr>
        <td>fine sea salt</td>
        <td>1/4 tsp</td>
      </tr>
      <tr>
        <td>plain flour</td>
        <td>250g</td>
      </tr>
      <tr>
        <td>custard powder</td>
        <td>50g</td>
      </tr>
      <tr>
        <td>egg yolks</td>
        <td>2</td>
      </tr>
      <tr>
        <td>vanilla beam paste</td>
        <td>1 tbsp</td>
      </tr>
      <tr>
        <td>rhubarb, trimmed and chopped</td>
        <td>200g</td>
      </tr>
      <tr>
        <td>caster sugar</td>
        <td>200g</td>
      </tr>
      <tr>
        <td>lemon juiced</td>
        <td>1/4</td>
      </tr>
    </table>
    <br>
    <br>
    <br>
    <h5><u>Method</u></h5>
    <ol>
      <li>To make the jam, put the rhubarb, sugar and lemon juice in a pan over a medium heat. Bring to a simmer and cook for 15 mins, or until the rhubarb has broken down and released its liquid. Blitz using a hand blender until smooth, then simmer for another 5-10 mins until thick and jammy. To test it’s ready, run a wooden spoon over the base of the pan – it should leave a trail rather than filling in straightaway. Leave to cool (it will set more as it does), then chill until ready to use. Will keep in a sealed container or jar in the fridge for up to one week.
      </li>
      <br>
      <li>To make the biscuit dough, put the butter, both sugars and salt in a food processor and pulse a few times to a coarse paste. Scrape down the sides, then add the flour and custard powder and pulse again to a damp, sandy consistency. Add the egg yolks and vanilla and pulse again until the dough comes together into a ball. Add ½-1 tbsp water to bring it together, if needed. Tip the dough out, then wrap and put in the fridge to chill for at least 30 mins.
      </li>
      <br>
      <li>Roll the dough out on a floured surface to a 5mm thickness. Stamp out as many biscuits as you can using a 6mm round cutter – you should get about 32 in total.
      </li>
      <br>
      <li>Cut circles or hearts out of the centres of half the biscuits using the wide end of a plain piping nozzle (about 1.5cm), or a small heart cutter. Transfer all the biscuits to lined baking sheets, then transfer to the fridge and chill for 15 mins. You can also cook the cut-out shapes to make mini biscuits – if doing so, put these on their own baking sheet.
      </li>
      <br>
      <li>Heat the oven to 200C/180C fan/ gas 6, then bake the biscuits for 8-10 mins until golden (5-6 mins for the mini biscuits). Put on a wire rack and leave to cool completely.
      </li>
      <br>
      <li>Transfer the jam to a piping bag, snip off the end, and pipe a small layer of jam onto the plain biscuits (those without the centres cut out). Or, use a teaspoon. Spread the jam out – it may squidge out of the sides when sandwiching the biscuits, so don’t go too far to the edge.
      </li>
      <br>
      <li>Sandwich the remaining biscuits over the jam (don’t press down too firmly), then transfer to an airtight container in a single layer and leave to set overnight. This ensures the jam won’t leak when you bite into them, but they can be eaten straightaway if you can’t resist. Will keep in an airtight container for up to three days, but the biscuits will start to soften over time.</li>
      <br>
    </ol>
  </div>
  <div class="col-sm-1"></div>
  <div class="col-sm-5">
    <br><br><iframe width="560" height="315" src="https://www.youtube.com/embed/9AOUZgq7txo?si=o-vBmAdqEwoNRxSu" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <br>
    <a class="btn btn-primary" href="/add/1100">Take It!(ingredients box)</a>
    <div class="price "><p>&pound;12.77</p>
    </div>
    </div>
  </div>
</div>
{% endblock %}