<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.1/mdb.min.css"
  rel="stylesheet">
  <link rel="stylesheet" href="/static/cart.css">
  <link rel="stylesheet" href="contact.css">
  <title> Shopping cart </title>
  <link rel="stylesheet" href="{{url_for('static',filename='main.css')}}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="/static/style_head.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="icon" href="{{url_for('static',filename='logoicon.png' )}}" type="image/icon type">
  <link rel="stylesheet" href="/static/LogIn.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js">

</head>
<body>
  <header> 
    <img src="{{url_for('static',filename='logo.png' )}}" alt = "logo" class= "logo">
    <input type="checkbox" id="nav-toggle" class="nav-toggle">
    <nav>
      <ul>
        {% if session.name %}
        <li><a href="{{ url_for('logout') }}">hi {{username['first_name']}}</a></li>
        <a href="{{url_for('cart')}}"><i class="fas fa-shopping-cart cart-icon"></i><span class="not">{{ total_items }}</span></a>
        {% else %}       
            <li><a href="{{ url_for('about') }}">Welcome</a></li>
        {% endif %}     
        <li><a href="{{ url_for('about') }}">About</a></li>
        <li><a href="{{ url_for('recipes') }}">Recipes</a></li>
        <li><a href="{{ url_for('shop') }}">Shop</a></li>
        <li><a href="{{ url_for('contact_us') }}">Contact</a></li>
        {% if session.name %}
            <li class="login_button"><a href="{{ url_for('logout') }}">Logout</a></li>  
        {% else %}       
            <li class="login_button"><a href="{{ url_for('login') }}">Login</a></li>
        {% endif %}      
      </ul>
    </nav>
    <label for="nav-toggle" class="nav-toggle-label"><span></span></label>
</header>
  <section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-10">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
              <div class="row">
                <div class="col-md-8 cart">
                    <div class="title">
                        <div class="row">
                            <div class="col"><h4><b>Shopping Cart</b></h4></div>
                            <div class="col align-self-center text-right text-muted">{{ total_items }} items</div>
                        </div>
                    </div>
                    {% if session.cart %}
                    {% for item in session['cart']%}
                    <form method="post">
                        <hr>
                        <div class="group-item cart-item row">
                          <div class="col-1">
                            <img class='icon_basket' src="/static/recipe_img/Bakewell.jpeg" alt="">
                          </div>
                          <div class="col">
                            <h5 class="col-mb-1">{{ item['name'] }}</h5>
                            <p class="col-mb-1">Price: &pound;{{ item['price'] }}</p>
                          </div>
                          <div class="col-2">
                            <input type="number" class="form-control" name="quantity_{{ item['id'] }}" value="{{ item['quantity'] }}" min="1" step="1">
                          </div>
                          <div class="col-1">
                            <button type="submit" class="btn btn-outline-secondary">&cross;</button>
                          </div>
                        </div>
                      </form>
                    {% endfor %}
                    {% else %}
                    <p>Empty Cart</p>
                    {% endif %}
                    
                    <div>
                      <div class="back-to-shop">
                        <a href="#">&leftarrow;</a><span class="text-muted">Back to shop</span>
                      </div>
                    </div>
                </div>
                <div class="col-md-4 summary">
                    <div><h5><b>Summary</b></h5></div>
                    <hr>
                    <div class="row">
                        <div class="col" style="padding-left:0;">ITEMS {{ total_items }}</div>
                        <div class="col text-right">&pound; {{ total_price }}</div>
                    </div>
                    <br>
                    <form>
                        <p>SHIPPING</p>
                        <select>
                            <option class="text-muted">Standard-Delivery(3-4days) &pound;2.50</option>
                        </select>
                        <br>
                        <br>
                        <p>GIVE CODE</p>
                        <input id="code" placeholder="Enter your code">
                    </form>
                    <br>
                    <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                        <div class="col">TOTAL PRICE</div>
                        <div class="col text-right">&pound;{{total_price_delivery}}</div>

                    </div>
                    <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                      <div class="modal-dialog modal-xl modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalToggleLabel">Card Payment <img src="/static/visa-mastercard-logos.png" width="80px"></h5>
                            <div class="vl"></div>
                            <button class="btn paybtn btn-light" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal"><img src="/static/yK7EDD1.png" width="80px"></button>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body row">
                          <form action="post"></form>
                            <div class="leftside col-5">
                              <h4>Postal Address</h4>
                              <br>
                              <div class="row">
                                <div class="col-6">
                                  <div class="d-flex flex-column">
                                  <p class="text mb-1">First Name</p>
                                  <input class="form-control mb-3" type="text" placeholder="John">
                                  </div>
                                </div>
                                <div class="col-6">
                                  <div class="d-flex flex-column">
                                  <p class="text mb-1">Last Name</p>
                                  <input class="form-control mb-3" type="text" placeholder="Smith">
                                  </div>
                                </div>
                              </div>
                              <div class="d-flex flex-column">
                                <p class="text mb-1">House Number And Street Name</p>
                                <input class="form-control mb-3" type="text" placeholder="132 My Street" autocomplete="address-line1">
                              </div>
                              <div class="row">
                                <div class="col-6">
                                  <div class="d-flex flex-column">
                                  <p class="text mb-1">City</p>
                                  <input class="form-control mb-3" type="text" placeholder="London">
                                  </div>
                                </div>
                                <div class="col-6">
                                  <div class="d-flex flex-column">
                                  <p class="text mb-1">Postcode</p>
                                  <input class="form-control mb-3" type="text" placeholder="AB12 CD34" autocomplete="postal-code">
                                  </div> 
                                </div>                       
                              </div>
                            </div>
                            <div class="vl1 col-1"></div>
                            <div class="rightside col-5">
                              <h4>Card Details</h4>
                              <br>
                              <div class="d-flex flex-column">
                                <p class="text mb-1">Person Name</p>
                                <input class="form-control mb-3" type="text" placeholder="Name" value="Jane Smith" autocomplete="name">
                              </div>
                              <div class="col-12">
                                <div class="d-flex flex-column">
                                <p class="text mb-1">Card Number</p>
                                <div class="input-group">
                                <input class="form-control mb-3" type="text" placeholder="1234 5678 435678" autocomplete="off">
                                <div class="input-group-append"><i class="fab fa-cc-visa mx-1 icon1"></i> <i class="fab fa-cc-mastercard mx-1 icon1"></i> <i class="fab fa-cc-amex mx-1 icon1"></i> </span> </div>
                                </div>
                                </div>
                              </div>
                              <div class="row">
                              <div class="col-6">
                                <div class="d-flex flex-column">
                                <p class="text mb-1">Expiry</p>
                                <input class="form-control mb-3" type="text" placeholder="MM/YYYY" autocomplete="cc-exp">
                                </div>
                              </div>
                              <div class="col-6">
                                <div class="d-flex flex-column">
                                <p class="text mb-1">CVV/CVC</p>
                                <input class="form-control mb-3 pt-2 " type="password" placeholder="***" autocomplete="off">
                                </div>
                              </div>
                              </div>
                            </div>
                          </form>
                          </div>
                          <div class="modal-footer">
                            <button class="btn btn-primary"><i class="material-icons"></i> Pay &pound;{{total_price_delivery}}</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
                      <div class="modal-dialog modal-lg modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalToggleLabel2">PayPal</h5>
                            <div class="vl"></div>
                            <button class="btn btn-light" data-bs-target="#exampleModalToggle" data-bs-toggle="modal" data-bs-dismiss="modal">Card Payment<img src="/static/visa-mastercard-logos.png" width="80px"></button>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <h6 class="pb-2">Select your paypal account type</h6>
                            <br>
                            <div class="form-group "> <label class="radio-inline"> <input type="radio" name="optradio" checked> Domestic </label> <label class="radio-inline"> <input type="radio" name="optradio" class="ml-5">International </label></div>
                            <br>
                            <p> <button type="button" class="btn btn-primary "><i class="fab fa-paypal mr-2"></i> Log into my Paypal</button> </p>
                            <p class="text-muted"> Note: After clicking on the button, you will be directed to a secure gateway for payment. After completing the payment process, you will be redirected back to the website to view details of your order. </p>
                          </div>
                          <div class="modal-footer">
                          </div>
                        </div>
                      </div>
                    </div>
                    <a class="btn btn-primary launch Paymentbtn" data-bs-toggle="modal" href="#exampleModalToggle" role="button">Pay Now</a>
                </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>              
  </section>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</body>
 
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.1/mdb.min.js"
></script>
</html>
