{% extends 'RecipeLayout.html' %}


{% block title %}
Tropical upside-down cake
{% endblock %}


{% block header %}
  <h2>Tropical upside-down cake</h2>
{% endblock %}


{% block content %}
<hr>
<div class="row">
  <div class="col-sm-6 recipes">
    <h5><u>Ingredients</u></h5>
    <table class="table">
      <tr>
        <th>Ingredients</th>
        <th>Amount</th>
      </tr>
      <tr>
        <td>unslated butter</td>
        <td>80g</td>
      </tr>
      <tr>
        <td>light brown soft sugar</td>
        <td>50g</td>
      </tr>
      <tr>
        <td>caned pinapple rings</td>
        <td>8</td>
      </tr>
      <tr>
        <td>maraschino cherries</td>
        <td>7</td>
      </tr>
      <tr>
        <td>coconut rum</td>
        <td>2-3 tbsp</td>
      </tr>
      <tr>
        <td>coconut flakes, toasted</td>
        <td>2-3 tbsp</td>
      </tr>
      <tr>
        <td>whipped cream</td>
        <td></td>
      </tr>
      <tr>
        <th>-------For the sponge--------</th>
      </tr>
      <tr>
        <td>unsalted butter, softened</td>
        <td>150g</td>
      </tr>
      <tr>
        <td>golden caster sugar</td>
        <td>150g</td>
      </tr>
      <tr>
        <td>self-raising flour</td>
        <td>150g</td>
      </tr>
      <tr>
        <td>desiccated coconut</td>
        <td>50g</td>
      </tr>
    </table>
    <br>
    <br>
    <br>
    <h5><u>Method</u></h5>
    <ol>
      <li>Heat the oven to 180C/160C fan/gas 4. Butter a 20cm square or 22cm round cake tin. Beat 50g of the butter with the brown sugar, then spread into the base and halfway up the sides of the prepared tin. Cut one of the pineapple rings into quarters, then arrange the whole rings in the tin, putting a cherry in the centre of each. Put a pineapple ring quarter into each corner.
      </li>
      <br>
      <li>To make the sponge, tip the butter, sugar, flour, desiccated coconut, ½ tsp fine sea salt, most of the lime zest and the eggs into a large bowl. Beat together using an electric whisk until smooth and creamy. Spoon the batter over the pineapple and level with the back of a spoon. Bake for 35-40 mins. Leave to cool in the tin for 5 mins, then turn out onto a cake board or serving plate.
      </li>
      <br>
      <li>Bring the reserved pineapple syrup to the boil in a medium pan, then stir in the coconut rum (if using), remaining butter and the lime juice. Leave to cool slightly. Drizzle over the cake, then scatter over the coconut flakes and remaining lime zest. Serve with whipped cream or coconut yogurt, if you like. Will keep in an airtight container for up to five days.</li>
      <br>
    </ol>
  </div>
  <div class="col-sm-1"></div>
  <div class="col-sm-5">
    <br><br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/AYydRUSdgT0?si=R8ouSbQtK4OcglhQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <br>
    <a class="btn btn-primary" href="/add/300">Take It!(ingredients box)</a>
    <div class="price "><p>&pound;12.77</p>
    </div>
    </div>
  </div>
</div>
{% endblock %}